force-app/main/default/flows/FLW_CAMPX_Event_c_Set_Net_Revenue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <description>Calculate Net Revenue is both fields has values.</description>
        <name>Asign_Net_Revenue_Formula</name>
        <label>Asign Net Revenue Formula</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.CAMPX__NetRevenue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NetRevenueFormula</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Asign_Null_Value</name>
        <label>Asign Null Value</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.CAMPX__NetRevenue__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Calculate_Net_Revenue</name>
        <label>Calculate Net Revenue</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Asign_Null_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_values</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CAMPX__GrossRevenue__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CAMPX__TotalExpenses__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asign_Net_Revenue_Formula</targetReference>
            </connector>
            <label>Has values</label>
        </rules>
    </decisions>
    <description>Set Net Revenue if others fields has values.</description>
    <environments>Default</environments>
    <formulas>
        <description>Formula to calculate Net Revenue</description>
        <name>NetRevenueFormula</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.CAMPX__GrossRevenue__c}-{!$Record.CAMPX__TotalExpenses__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>CAMPX_Event__c Set Net Revenue {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CAMPX_Event__c Set Net Revenue</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Calculate_Net_Revenue</targetReference>
        </connector>
        <object>CAMPX__Event__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
